* {
  background: rgb(192, 252, 132);
}

::placeholder {
  color: grey;
  font-weight: bold;
  opacity: 0.5;
}

#selfieCoach {
  width: auto;
  height: 300px;
}

#coachResized {
  max-width: 200px;
  max-height: 400px;
  color: red;
}

#cursorImage {
  opacity: .5;
}

/* #overlayMove {
  position: absolute;

} */